/*
Theme Name: Graphicki
Author: Glenn Merckx
Version: 1.0.0
Text Domain: graphicki
Tags:

# Bootstrap-import
# Normalize
# Custom

--------------------------------------------------------------*/

/*--------------------------------------------------------------
#import
--------------------------------------------------------------*/

@import url('css/bootstrap.css');
@import url('css/half-slider.css');
@import url('css/bootstrap-social.css');
@import url('https://fonts.googleapis.com/css?family=Signika:400,700');


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
* {
	
	}
		
	
body {
   background-color: rgba(243, 156, 18,1.0);
   /*background-image:url(../pictures/azul-borroso_624141693.jpg);*/
   background-size:100% 100%;
   background-attachment:fixed;
   margin-top: 40px;
}

.glyphicon {
	color:rgba(243, 156, 18,1.0);
}

.admin-bar .help {
  top: 32px !important;
}

nav div div ul li:hover {
	background-color:rgba(243, 156, 18,1.0);
	transition:linear 0.5s
}

nav div div ul li a {
	color: rgba(243, 156, 18,1.0) !important;
	
}

nav div div ul li a:hover {
	color:#000 !important;
	
}

a {
	text-decoration:none;
	color:rgba(69,160,221,1.00);	
	}
	
a:hover {
	text-decoration:none;
	color:rgba(255,0,0,1.00);	
	
	}
	
.panel-body{
	padding: 20px;
	}

.display-posts-listing {
margin: 0px 0px !important;
padding: 10px 0px !important;


}

.display-posts-listing li {
list-style-type: none;
min-height: 175px;
overflow:hidden;
width: inherit;
padding-bottom: 30px
}

.display-posts-listing .title {
font-size:36px;
font-weight:bold;}

.display-posts-listing .date {
font-size:12px;
font-weight:bold;}

.panel-title {
padding: 10px;
padding-left: 5px;
font-size: 36px;
font:bold;

}

ul.page-numbers {
    list-style: none;
    margin: 0;
}

.page-numbers:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.page-numbers li {
    display: block;
    float: left;
    margin: 0 4px 4px 0;
    text-align: center;
}

.page-numbers a,
.page-numbers span {
    line-height: 1.6em;
    display: block;
    padding: 0 6px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #888;
}

.page-numbers a span { padding: 0 }

.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
    color: #000;
    background: #f7f7f7;
    text-decoration: none;
}

.page-numbers:hover { text-decoration: none }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#sidebar ul li {
	text-decoration:none;
	list-style-type:none;
	padding:0;
	margin:0;
	}
	
#sidebar ul {
	text-decoration:none;
	list-style-type:none;
	padding:0;
	margin:0;
	}

#sidebar {
	background:white;
	}

#sidebar ul li ul li{
	text-decoration:none;
	padding-left:20px;
	margin:0;
	}
	
.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 50%;
}
	
.footerMenu { 
	list-style:none;
	overflow:hidden;
	padding:0
}

.footerMenu  li { 
	display: inline;
    width: 30%;
    padding: 0 20px;
    list-style: none;
	font-size:18px;
	text-decoration:none;
	color:#FFC300;
}

.footerMenu  li a { 
	display:inline;
	text-decoration:none;
	color:white;
	font-weight:bolder;

}

.footerMenu  li a:hover { 
	display:inline;
	text-decoration:none;
	color:white;
	font-weight:bolder;

}
	
@media (max-width: 550px) {
	.footerMenu  li { 
	display: inline-block;
    width: 100%;
    padding: 0 20px;
    list-style: none;
	font-size:18px;
}
	
	}
	